{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
    <h4>{{ user.email }}</h4>
    <h4>{{ user.first_name }}</h4>
    <h4>{{ user.last_name }}</h4>

    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}

        <a href="{% provider_login_url 'facebook' %}">
            Facebook
        </a>
    <br>
    <a href="{% provider_login_url 'google' %}">
        Google
    </a>
    <br>
    <a href="{% provider_login_url 'github' %}">
        GitHub
    </a>
    <br>
    <a href="{% provider_login_url 'linkedin_oauth2' %}">
        Linkedin
    </a>    
    <br>
    <a href="{% provider_login_url 'telegram' %}">
        Telegram
    </a>
{% endif %}

</body>
</html>